@model GestionLivre_JonathanMutala.Models.LivreModel

@{
    ViewData["Title"] = "Supprimer un Livre";
}

<h1>@ViewData["Title"] </h1>

<h3></h3>
<div>
        <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitreLivre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitreLivre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuteurLivre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuteurLivre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublicationLivre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePublicationLivre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDLivre" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
        <a asp-action="Index">
            <input type="button" value="Retour à la liste de livre" class="btn btn-primary" />
        </a>
    </form>
</div>
